@{
	ViewData["Title"] = "Upload Picture";
}

<div style="display: table;
    margin: 0 auto;
    width: 50%;
    text-align: center;">
	<form asp-controller="Home" asp-action="UploadFile" method="post"
		  enctype="multipart/form-data">
		<input class="form-control btn btn-default" style="display:inline-block" type="file" name="file" />
		<br />
		<br />
		<select class="form-control js-example-basic-single" style="display:inline-block" id="event" name="event">
			<option value="select">Event</option>
			<option value="Birthday">Birthday Selfie</option>
			<option value="Sports">Sports Event</option>
			<option value="Drive">Drive</option>
			<option value="Other">Other</option>
		</select>
		<br />
		<br />
		<select class="form-control js-example-basic-single" style="display:inline-block" id="name" name="name">
			<option value="select">Full Name</option>

			<!--REPLACE INFORMATION BETWEEN THESE MESSAGES-->

			<optgroup label="Middle">
				<option value="Middle.Sareen Armenian">Sareen Armenian</option>
				<option value="Middle.Diego Barraclough">Diego Barraclough</option>
				<option value="Middle.Emily Battaglia">Emily Battaglia</option>
				<option value="Middle.Loran Baxter Mercado">Loran Baxter Mercado</option>
				<option value="Middle.Joshua Beserra">Joshua Beserra</option>
				<option value="Middle.Andrew Boatman">Andrew Boatman</option>
				<option value="Middle.Isabella Bonfante">Isabella Bonfante</option>
				<option value="Middle.Charlotte Brush">Charlotte Brush</option>
				<option value="Middle.David Chagoyen Neumann">David Chagoyen Neumann</option>
				<option value="Middle.Liam Chia">Liam Chia</option>
				<option value="Middle.Alexander Comer">Alexander Comer</option>
				<option value="Middle.Adrienne DeFaria">Adrienne DeFaria</option>
				<option value="Middle.Aaron Freedman">Aaron Freedman</option>
				<option value="Middle.Kate Fuetterer">Kate Fuetterer</option>
				<option value="Middle.Alec Gharibian">Alec Gharibian</option>
				<option value="Middle.Alec Guthrie">Alec Guthrie</option>
				<option value="Middle.Veronica Habashy">Veronica Habashy</option>
				<option value="Middle.Angela Henderson">Angela Henderson</option>
				<option value="Middle.Ian Hunte">Ian Hunte</option>
				<option value="Middle.Lori Jang">Lori Jang</option>
				<option value="Middle.Jasmine Jin">Jasmine Jin</option>
				<option value="Middle.Ethan Kim">Ethan Kim</option>
				<option value="Middle.Timothy Kreinberg">Timothy Kreinberg</option>
				<option value="Middle.Estee Langbord">Estee Langbord</option>
				<option value="Middle.Henry Lindholm">Henry Lindholm</option>
				<option value="Middle.Egbert Liu">Egbert Liu</option>
				<option value="Middle.Liliana Lopez">Liliana Lopez</option>
				<option value="Middle.Lucas Lopez">Lucas Lopez</option>
				<option value="Middle.Elliot Marion">Elliot Marion</option>
				<option value="Middle.Dylan Mealey">Dylan Mealey</option>
				<option value="Middle.Sean Mealey">Sean Mealey</option>
				<option value="Middle.Alex Mirzabeigi">Alex Mirzabeigi</option>
				<option value="Middle.Nicole Mirzaian">Nicole Mirzaian</option>
				<option value="Middle.Colin Ng">Colin Ng</option>
				<option value="Middle.Jamie-Lynn Notley">Jamie-Lynn Notley</option>
				<option value="Middle.Isabel Pan">Isabel Pan</option>
				<option value="Middle.Nathan Park">Nathan Park</option>
				<option value="Middle.Alexander Pierce">Alexander Pierce</option>
				<option value="Middle.Sage Remulla">Sage Remulla</option>
				<option value="Middle.Regan Sakai">Regan Sakai</option>
				<option value="Middle.Nayan Sarma">Nayan Sarma</option>
				<option value="Middle.Dominick Schraeder">Dominick Schraeder</option>
				<option value="Middle.Scott Schuster">Scott Schuster</option>
				<option value="Middle.Spencer Seid">Spencer Seid</option>
				<option value="Middle.John Stetson">John Stetson</option>
				<option value="Middle.Destiny Tai">Destiny Tai</option>
				<option value="Middle.Trinity Tai">Trinity Tai</option>
				<option value="Middle.Ryan Tobin">Ryan Tobin</option>
				<option value="Middle.Hope Ware">Hope Ware</option>
				<option value="Middle.Amadi Weser">Amadi Weser</option>
				<option value="Middle.Ellen White">Ellen White</option>
				<option value="Middle.Kendryek Wu">Kendryek Wu</option>
				<option value="Middle.Leila Wu">Leila Wu</option>
				<option value="Middle.David Abrahamyan">David Abrahamyan</option>
				<option value="Middle.Joseph Andrews">Joseph Andrews</option>
				<option value="Middle.Sabrina Bahadosingh">Sabrina Bahadosingh</option>
				<option value="Middle.Ruby Banning">Ruby Banning</option>
				<option value="Middle.Amelia Bechthold">Amelia Bechthold</option>
				<option value="Middle.John Bennett">John Bennett</option>
				<option value="Middle.Amelie Besch">Amelie Besch</option>
				<option value="Middle.Sarah Bougdanos">Sarah Bougdanos</option>
				<option value="Middle.Justus Chavez">Justus Chavez</option>
				<option value="Middle.Angie Cheng">Angie Cheng</option>
				<option value="Middle.Daniel SeungWon Choi">Daniel SeungWon Choi</option>
				<option value="Middle.Sofie Corbett">Sofie Corbett</option>
				<option value="Middle.Tristan Darquea">Tristan Darquea</option>
				<option value="Middle.Rachel DeMerit">Rachel DeMerit</option>
				<option value="Middle.Wyatt Fishman">Wyatt Fishman</option>
				<option value="Middle.Christopher Fung">Christopher Fung</option>
				<option value="Middle.Madelyn Geeting">Madelyn Geeting</option>
				<option value="Middle.Silvia Gibilaro">Silvia Gibilaro</option>
				<option value="Middle.Eliza Gunter">Eliza Gunter</option>
				<option value="Middle.Riley Hause">Riley Hause</option>
				<option value="Middle.Brandon Hioe">Brandon Hioe</option>
				<option value="Middle.Ella Jamison">Ella Jamison</option>
				<option value="Middle.Tabitha Jang">Tabitha Jang</option>
				<option value="Middle.Jack Jones">Jack Jones</option>
				<option value="Middle.Andrew Jordan">Andrew Jordan</option>
				<option value="Middle.Bryce Kim">Bryce Kim</option>
				<option value="Middle.Lauren Kim">Lauren Kim</option>
				<option value="Middle.John Kully">John Kully</option>
				<option value="Middle.Jacob Lee">Jacob Lee</option>
				<option value="Middle.Jaye Lee">Jaye Lee</option>
				<option value="Middle.Chayse Lim-Ying">Chayse Lim-Ying</option>
				<option value="Middle.Jake Matsumoto">Jake Matsumoto</option>
				<option value="Middle.Charles McGill">Charles McGill</option>
				<option value="Middle.Ben Odawara">Ben Odawara</option>
				<option value="Middle.Alexander Oh">Alexander Oh</option>
				<option value="Middle.Maxine Park">Maxine Park</option>
				<option value="Middle.Peter Peutet">Peter Peutet</option>
				<option value="Middle.Clara Pierce">Clara Pierce</option>
				<option value="Middle.Olivia Pigram">Olivia Pigram</option>
				<option value="Middle.Angela Ren">Angela Ren</option>
				<option value="Middle.Gya Rodriguez">Gya Rodriguez</option>
				<option value="Middle.Anya Rose">Anya Rose</option>
				<option value="Middle.Sage Shurman">Sage Shurman</option>
				<option value="Middle.Conner Siou">Conner Siou</option>
				<option value="Middle.Noah Son">Noah Son</option>
				<option value="Middle.Geoffrey Stetson">Geoffrey Stetson</option>
				<option value="Middle.Alexandra Thein">Alexandra Thein</option>
				<option value="Middle.Gabriela Varga">Gabriela Varga</option>
				<option value="Middle.Tenzin Walker">Tenzin Walker</option>
				<option value="Middle.Elizabeth Wang">Elizabeth Wang</option>
				<option value="Middle.Matthew Wang">Matthew Wang</option>
				<option value="Middle.Xavier White">Xavier White</option>
				<option value="Middle.Luca Yeghnazar">Luca Yeghnazar</option>
				<option value="Middle.Thomas Young">Thomas Young</option>
			</optgroup>
			<optgroup label="Freshman">
				<option value="Freshman.Ryan Alameddine">Ryan Alameddine</option>
				<option value="Freshman.Stella Aldrich">Stella Aldrich</option>
				<option value="Freshman.Matin Bagheri">Matin Bagheri</option>
				<option value="Freshman.Ava Balbuena">Ava Balbuena</option>
				<option value="Freshman.Sylvia Barbu">Sylvia Barbu</option>
				<option value="Freshman.Katherine Bennett">Katherine Bennett</option>
				<option value="Freshman.Hudson Billock">Hudson Billock</option>
				<option value="Freshman.Madison Bradford">Madison Bradford</option>
				<option value="Freshman.David Campos">David Campos</option>
				<option value="Freshman.Silas Chavez">Silas Chavez</option>
				<option value="Freshman.Mei-Tung Chen">Mei-Tung Chen</option>
				<option value="Freshman.Yilin Cheng">Yilin Cheng</option>
				<option value="Freshman.Alyssa Christopoulos">Alyssa Christopoulos</option>
				<option value="Freshman.Carissa Coane">Carissa Coane</option>
				<option value="Freshman.Nolan Costin">Nolan Costin</option>
				<option value="Freshman.Veronica Coyne">Veronica Coyne</option>
				<option value="Freshman.Joseph David">Joseph David</option>
				<option value="Freshman.James Dixon">James Dixon</option>
				<option value="Freshman.Makenna Dominguez">Makenna Dominguez</option>
				<option value="Freshman.Sofia Echavarria">Sofia Echavarria</option>
				<option value="Freshman.Scarlett Ferry">Scarlett Ferry</option>
				<option value="Freshman.Lucy Friedman">Lucy Friedman</option>
				<option value="Freshman.Shelby Fujimoto">Shelby Fujimoto</option>
				<option value="Freshman.Matthew Gamboa">Matthew Gamboa</option>
				<option value="Freshman.Lauren Ginn">Lauren Ginn</option>
				<option value="Freshman.William Glarum">William Glarum</option>
				<option value="Freshman.Sofia Gonzalez">Sofia Gonzalez</option>
				<option value="Freshman.Diego Guerrero">Diego Guerrero</option>
				<option value="Freshman.William Gunter">William Gunter</option>
				<option value="Freshman.Pearce Harris">Pearce Harris</option>
				<option value="Freshman.Genevieve Harvey">Genevieve Harvey</option>
				<option value="Freshman.Lauren Hazel">Lauren Hazel</option>
				<option value="Freshman.Matthew Ho">Matthew Ho</option>
				<option value="Freshman.Elaine Hong">Elaine Hong</option>
				<option value="Freshman.Jacqueline Hsu">Jacqueline Hsu</option>
				<option value="Freshman.Katherine Huntley">Katherine Huntley</option>
				<option value="Freshman.Silvia Ioannou">Silvia Ioannou</option>
				<option value="Freshman.Madison Jaffrey">Madison Jaffrey</option>
				<option value="Freshman.Megan Jen">Megan Jen</option>
				<option value="Freshman.Sophia Jones">Sophia Jones</option>
				<option value="Freshman.Mira Kaplan">Mira Kaplan</option>
				<option value="Freshman.Natalie Kaplanyan">Natalie Kaplanyan</option>
				<option value="Freshman.Zachary Kim">Zachary Kim</option>
				<option value="Freshman.Samantha Kimball">Samantha Kimball</option>
				<option value="Freshman.Mikaylie Kiyomura">Mikaylie Kiyomura</option>
				<option value="Freshman.Jackson Koos Davis">Jackson Koos Davis</option>
				<option value="Freshman.Leon Kuo">Leon Kuo</option>
				<option value="Freshman.Alexis Lara">Alexis Lara</option>
				<option value="Freshman.Maya Le">Maya Le</option>
				<option value="Freshman.Olivia Lee">Olivia Lee</option>
				<option value="Freshman.Naeem Lewis">Naeem Lewis</option>
				<option value="Freshman.Ryan Lo">Ryan Lo</option>
				<option value="Freshman.Zachary Luu">Zachary Luu</option>
				<option value="Freshman.Ellen Ma">Ellen Ma</option>
				<option value="Freshman.John MacLeod">John MacLeod</option>
				<option value="Freshman.Vicky Manwani">Vicky Manwani</option>
				<option value="Freshman.Bradley Marelich">Bradley Marelich</option>
				<option value="Freshman.Rachel McCarley">Rachel McCarley</option>
				<option value="Freshman.Dylan McGaharn">Dylan McGaharn</option>
				<option value="Freshman.Jahselyn Medina">Jahselyn Medina</option>
				<option value="Freshman.Nathaniel Milley">Nathaniel Milley</option>
				<option value="Freshman.Madeline Montes">Madeline Montes</option>
				<option value="Freshman.Charles Morris">Charles Morris</option>
				<option value="Freshman.Loran Murray">Loran Murray</option>
				<option value="Freshman.Melanie Ng">Melanie Ng</option>
				<option value="Freshman.Bennett Oakes">Bennett Oakes</option>
				<option value="Freshman.Andrew Odom">Andrew Odom</option>
				<option value="Freshman.Kathryn Ohara">Kathryn Ohara</option>
				<option value="Freshman.Gavin O'Leary">Gavin O'Leary</option>
				<option value="Freshman.Audrey Ouh">Audrey Ouh</option>
				<option value="Freshman.Nicholas Palmer">Nicholas Palmer</option>
				<option value="Freshman.Lu Patterson">Lu Patterson</option>
				<option value="Freshman.Mona Patterson">Mona Patterson</option>
				<option value="Freshman.Lucas Pierce">Lucas Pierce</option>
				<option value="Freshman.Nicholas Polen">Nicholas Polen</option>
				<option value="Freshman.Brooke Porter">Brooke Porter</option>
				<option value="Freshman.Thomas Porter">Thomas Porter</option>
				<option value="Freshman.Clarice Pranyoto">Clarice Pranyoto</option>
				<option value="Freshman.Rodolfo Ruiz">Rodolfo Ruiz</option>
				<option value="Freshman.Claire Senft">Claire Senft</option>
				<option value="Freshman.Dylan Setiawan">Dylan Setiawan</option>
				<option value="Freshman.Isabel Simons">Isabel Simons</option>
				<option value="Freshman.Cameron Slater">Cameron Slater</option>
				<option value="Freshman.Marshall Smith">Marshall Smith</option>
				<option value="Freshman.Owen Smith">Owen Smith</option>
				<option value="Freshman.Emma Stellar">Emma Stellar</option>
				<option value="Freshman.Charlotte Stipanov">Charlotte Stipanov</option>
				<option value="Freshman.Samuel Sullivan">Samuel Sullivan</option>
				<option value="Freshman.Emeline Tolleson">Emeline Tolleson</option>
				<option value="Freshman.Briana Tran">Briana Tran</option>
				<option value="Freshman.Ella Treinen">Ella Treinen</option>
				<option value="Freshman.Kate Tsao">Kate Tsao</option>
				<option value="Freshman.William Tsao">William Tsao</option>
				<option value="Freshman.Anna Turysheva">Anna Turysheva</option>
				<option value="Freshman.Justin Walker">Justin Walker</option>
				<option value="Freshman.Devyn Walklett">Devyn Walklett</option>
				<option value="Freshman.Ethan Wong">Ethan Wong</option>
				<option value="Freshman.Gabriella Wrighten">Gabriella Wrighten</option>
				<option value="Freshman.Jasmine Wu">Jasmine Wu</option>
				<option value="Freshman.Ryan Wu">Ryan Wu</option>
				<option value="Freshman.Caroline Yamamoto">Caroline Yamamoto</option>
				<option value="Freshman.Georgia Yamamoto">Georgia Yamamoto</option>
				<option value="Freshman.Alexander Yeh">Alexander Yeh</option>
				<option value="Freshman.Alec Zackarian">Alec Zackarian</option>
				<option value="Freshman.Andrew Zerby">Andrew Zerby</option>
				<option value="Freshman.Yuanmeng Zhang">Yuanmeng Zhang</option>
				<option value="Freshman.Emily Zhou">Emily Zhou</option>
			</optgroup>
			<optgroup label="Softmore">
				<option value="Softmore.Sarah Abou-Rass">Sarah Abou-Rass</option>
				<option value="Softmore.Maxwell Alvarez">Maxwell Alvarez</option>
				<option value="Softmore.Shant Armenian">Shant Armenian</option>
				<option value="Softmore.Kevin Ashworth">Kevin Ashworth</option>
				<option value="Softmore.Benjamin Baraga">Benjamin Baraga</option>
				<option value="Softmore.Max Barak">Max Barak</option>
				<option value="Softmore.Cole Barnard">Cole Barnard</option>
				<option value="Softmore.Natalie Bax">Natalie Bax</option>
				<option value="Softmore.Lauren Bennett">Lauren Bennett</option>
				<option value="Softmore.Alec Bernardi">Alec Bernardi</option>
				<option value="Softmore.Ani Bernardi">Ani Bernardi</option>
				<option value="Softmore.Katherine Besch">Katherine Besch</option>
				<option value="Softmore.Cameron Bielawa">Cameron Bielawa</option>
				<option value="Softmore.Julia Boberg">Julia Boberg</option>
				<option value="Softmore.Alexander Bouquet">Alexander Bouquet</option>
				<option value="Softmore.Jacob Bowne">Jacob Bowne</option>
				<option value="Softmore.Violet Bretz">Violet Bretz</option>
				<option value="Softmore.Natalie Brown">Natalie Brown</option>
				<option value="Softmore.Lindsay Browne">Lindsay Browne</option>
				<option value="Softmore.Henry Bunt">Henry Bunt</option>
				<option value="Softmore.John Cartwright">John Cartwright</option>
				<option value="Softmore.Pierre Cativiela">Pierre Cativiela</option>
				<option value="Softmore.Alejandro Chagoyen Neumann">Alejandro Chagoyen Neumann</option>
				<option value="Softmore.Ellen Chang">Ellen Chang</option>
				<option value="Softmore.Kristofer Chang">Kristofer Chang</option>
				<option value="Softmore.Mia Bella Chavez">Mia Bella Chavez</option>
				<option value="Softmore.Kaitlyn Chen">Kaitlyn Chen</option>
				<option value="Softmore.Margaret Cole">Margaret Cole</option>
				<option value="Softmore.Jack Crawford">Jack Crawford</option>
				<option value="Softmore.Jay Dadwal">Jay Dadwal</option>
				<option value="Softmore.Gage Detchemendy">Gage Detchemendy</option>
				<option value="Softmore.Sofia Dragna">Sofia Dragna</option>
				<option value="Softmore.Anna Durfee">Anna Durfee</option>
				<option value="Softmore.Albert Ebright">Albert Ebright</option>
				<option value="Softmore.David Egan">David Egan</option>
				<option value="Softmore.Jack Elliott">Jack Elliott</option>
				<option value="Softmore.Nicholas Fellows">Nicholas Fellows</option>
				<option value="Softmore.Lillian Fox">Lillian Fox</option>
				<option value="Softmore.Sabine Fregoso">Sabine Fregoso</option>
				<option value="Softmore.Evan Gi">Evan Gi</option>
				<option value="Softmore.Maxwell Gitlin">Maxwell Gitlin</option>
				<option value="Softmore.Bennett Grable">Bennett Grable</option>
				<option value="Softmore.Jada Gritton">Jada Gritton</option>
				<option value="Softmore.Lucca Guzman-Gieseken">Lucca Guzman-Gieseken</option>
				<option value="Softmore.Gerald Hansen">Gerald Hansen</option>
				<option value="Softmore.Germaine Harvey">Germaine Harvey</option>
				<option value="Softmore.Patrick Hastings">Patrick Hastings</option>
				<option value="Softmore.Nathan Heller">Nathan Heller</option>
				<option value="Softmore.Bailey Hobey">Bailey Hobey</option>
				<option value="Softmore.Noah Igler">Noah Igler</option>
				<option value="Softmore.Irene Jang">Irene Jang</option>
				<option value="Softmore.Hakop Kaplanyan">Hakop Kaplanyan</option>
				<option value="Softmore.Calvin Katz">Calvin Katz</option>
				<option value="Softmore.Maya Khurana">Maya Khurana</option>
				<option value="Softmore.Andie Kim">Andie Kim</option>
				<option value="Softmore.Nicholas Klatsky">Nicholas Klatsky</option>
				<option value="Softmore.Daniel Kotlyar">Daniel Kotlyar</option>
				<option value="Softmore.Jason Kreinberg">Jason Kreinberg</option>
				<option value="Softmore.Alexandra Kyriakakis">Alexandra Kyriakakis</option>
				<option value="Softmore.Audrey Laun">Audrey Laun</option>
				<option value="Softmore.Julie Le">Julie Le</option>
				<option value="Softmore.Sophie Lin">Sophie Lin</option>
				<option value="Softmore.Barnett Liu">Barnett Liu</option>
				<option value="Softmore.Melody Liu">Melody Liu</option>
				<option value="Softmore.Carrie Luk">Carrie Luk</option>
				<option value="Softmore.Carina Mankerian">Carina Mankerian</option>
				<option value="Softmore.Charles McCormick">Charles McCormick</option>
				<option value="Softmore.Gracie McKiernan">Gracie McKiernan</option>
				<option value="Softmore.Diego Molina">Diego Molina</option>
				<option value="Softmore.Grady Morrissey">Grady Morrissey</option>
				<option value="Softmore.Liana Morrissey">Liana Morrissey</option>
				<option value="Softmore.Hannah Murphy">Hannah Murphy</option>
				<option value="Softmore.Marguerite Newhart">Marguerite Newhart</option>
				<option value="Softmore.Paige Nixon">Paige Nixon</option>
				<option value="Softmore.Emerson Oertel">Emerson Oertel</option>
				<option value="Softmore.Arek Ouzounian">Arek Ouzounian</option>
				<option value="Softmore.Aren Ouzounian">Aren Ouzounian</option>
				<option value="Softmore.Alexander Payne">Alexander Payne</option>
				<option value="Softmore.Jeffrey Pendo">Jeffrey Pendo</option>
				<option value="Softmore.Nicholas Rivelle">Nicholas Rivelle</option>
				<option value="Softmore.Tess Robertson-Neel">Tess Robertson-Neel</option>
				<option value="Softmore.Jasmine Samuels">Jasmine Samuels</option>
				<option value="Softmore.Saya Sarma">Saya Sarma</option>
				<option value="Softmore.Reagan Schmidt">Reagan Schmidt</option>
				<option value="Softmore.Molly Scott">Molly Scott</option>
				<option value="Softmore.Sylvie Shure">Sylvie Shure</option>
				<option value="Softmore.Simon Siskel">Simon Siskel</option>
				<option value="Softmore.Matthew Son">Matthew Son</option>
				<option value="Softmore.Evan Stevens">Evan Stevens</option>
				<option value="Softmore.Olivia Stevens">Olivia Stevens</option>
				<option value="Softmore.Noelle Tamura">Noelle Tamura</option>
				<option value="Softmore.Derek Tran">Derek Tran</option>
				<option value="Softmore.Renee Ventresca">Renee Ventresca</option>
				<option value="Softmore.Ryan Waldheim">Ryan Waldheim</option>
				<option value="Softmore.Wyatt Walker">Wyatt Walker</option>
				<option value="Softmore.Makena Walklett">Makena Walklett</option>
				<option value="Softmore.Samuel Walton">Samuel Walton</option>
				<option value="Softmore.Sarah Wong">Sarah Wong</option>
				<option value="Softmore.Emily Yam">Emily Yam</option>
			</optgroup>
			<optgroup label="Junior">
				<option value="Junior.Emily Alameddine">Emily Alameddine</option>
				<option value="Junior.Haley Allen">Haley Allen</option>
				<option value="Junior.Evan Anderson">Evan Anderson</option>
				<option value="Junior.Nina Armstrong">Nina Armstrong</option>
				<option value="Junior.Matthew Babor">Matthew Babor</option>
				<option value="Junior.Ben Brookbanks">Ben Brookbanks</option>
				<option value="Junior.Oliver Brookbanks">Oliver Brookbanks</option>
				<option value="Junior.Delila Brown">Delila Brown</option>
				<option value="Junior.Olivia Brown">Olivia Brown</option>
				<option value="Junior.Sean Browne">Sean Browne</option>
				<option value="Junior.Robert Case">Robert Case</option>
				<option value="Junior.Mikaela Celeste">Mikaela Celeste</option>
				<option value="Junior.Chloe Chanren">Chloe Chanren</option>
				<option value="Junior.Winston Chen">Winston Chen</option>
				<option value="Junior.Kailyn Chiu">Kailyn Chiu</option>
				<option value="Junior.Daniel Chung">Daniel Chung</option>
				<option value="Junior.Hope Codiga">Hope Codiga</option>
				<option value="Junior.Sasha Codiga">Sasha Codiga</option>
				<option value="Junior.Daniel Comer">Daniel Comer</option>
				<option value="Junior.Andrew Crisol">Andrew Crisol</option>
				<option value="Junior.Marissa David">Marissa David</option>
				<option value="Junior.Ian Davies">Ian Davies</option>
				<option value="Junior.Brent Ellis">Brent Ellis</option>
				<option value="Junior.Sebastian Evans">Sebastian Evans</option>
				<option value="Junior.Christina Fan">Christina Fan</option>
				<option value="Junior.Caitlin Fong">Caitlin Fong</option>
				<option value="Junior.Helia Fotoohi">Helia Fotoohi</option>
				<option value="Junior.Lara Friedman">Lara Friedman</option>
				<option value="Junior.Alison Fujimoto">Alison Fujimoto</option>
				<option value="Junior.Melissa Grande">Melissa Grande</option>
				<option value="Junior.Arielle Guzman">Arielle Guzman</option>
				<option value="Junior.Marissa Habashy">Marissa Habashy</option>
				<option value="Junior.Spencer Harris">Spencer Harris</option>
				<option value="Junior.Carson Hasbrouck">Carson Hasbrouck</option>
				<option value="Junior.Preston Ho">Preston Ho</option>
				<option value="Junior.Ryan Huntley">Ryan Huntley</option>
				<option value="Junior.Luke Hurrell">Luke Hurrell</option>
				<option value="Junior.Emily Jacobs">Emily Jacobs</option>
				<option value="Junior.Rithik Jain">Rithik Jain</option>
				<option value="Junior.Courtney Johnson">Courtney Johnson</option>
				<option value="Junior.Max Keane">Max Keane</option>
				<option value="Junior.Kyla Kikkawa">Kyla Kikkawa</option>
				<option value="Junior.Lily Kilpatrick">Lily Kilpatrick</option>
				<option value="Junior.David Kim">David Kim</option>
				<option value="Junior.Clio Klapsis">Clio Klapsis</option>
				<option value="Junior.Thomas Kosakowski">Thomas Kosakowski</option>
				<option value="Junior.Kendal Kully">Kendal Kully</option>
				<option value="Junior.Isaac LaMarr">Isaac LaMarr</option>
				<option value="Junior.Richard Lara">Richard Lara</option>
				<option value="Junior.Sydney Lau">Sydney Lau</option>
				<option value="Junior.Leslie Sinclaire Ledahl">Leslie Sinclaire Ledahl</option>
				<option value="Junior.Jasmine Lee">Jasmine Lee</option>
				<option value="Junior.Gillis Linde">Gillis Linde</option>
				<option value="Junior.Claire Liu">Claire Liu</option>
				<option value="Junior.John Lytle">John Lytle</option>
				<option value="Junior.Madison Manning">Madison Manning</option>
				<option value="Junior.Valentina Martinez">Valentina Martinez</option>
				<option value="Junior.Danielle Maxwell">Danielle Maxwell</option>
				<option value="Junior.Jack Mazin">Jack Mazin</option>
				<option value="Junior.Jenna Mijares">Jenna Mijares</option>
				<option value="Junior.Violet Miller">Violet Miller</option>
				<option value="Junior.Isabel Moon">Isabel Moon</option>
				<option value="Junior.Ethan Moutes">Ethan Moutes</option>
				<option value="Junior.Peter Mugemancuro">Peter Mugemancuro</option>
				<option value="Junior.Matthew Ng">Matthew Ng</option>
				<option value="Junior.Andre-Joseph Nicassio">Andre-Joseph Nicassio</option>
				<option value="Junior.Mei-Li Okumura">Mei-Li Okumura</option>
				<option value="Junior.Ian Park">Ian Park</option>
				<option value="Junior.Elizabeth Penn">Elizabeth Penn</option>
				<option value="Junior.Joshua Perkins">Joshua Perkins</option>
				<option value="Junior.Athena Pham">Athena Pham</option>
				<option value="Junior.Nathan Powell">Nathan Powell</option>
				<option value="Junior.Bavan Rajan">Bavan Rajan</option>
				<option value="Junior.Andrew Rosenfeld">Andrew Rosenfeld</option>
				<option value="Junior.Helen Rossi">Helen Rossi</option>
				<option value="Junior.Benjamin Sacks">Benjamin Sacks</option>
				<option value="Junior.Helen Schaefer">Helen Schaefer</option>
				<option value="Junior.Zheyuan Shi">Zheyuan Shi</option>
				<option value="Junior.Nicole Song">Nicole Song</option>
				<option value="Junior.Joseph Spera">Joseph Spera</option>
				<option value="Junior.Marissa Starks">Marissa Starks</option>
				<option value="Junior.Sofia Stellar">Sofia Stellar</option>
				<option value="Junior.Luke Stiles">Luke Stiles</option>
				<option value="Junior.Kecheng Su">Kecheng Su</option>
				<option value="Junior.Kanako Takada">Kanako Takada</option>
				<option value="Junior.Daniel Tyebkhan">Daniel Tyebkhan</option>
				<option value="Junior.Kenneth Um">Kenneth Um</option>
				<option value="Junior.Gabriel Wallen">Gabriel Wallen</option>
				<option value="Junior.Emma Wang">Emma Wang</option>
				<option value="Junior.Evan White">Evan White</option>
				<option value="Junior.Gloria White">Gloria White</option>
				<option value="Junior.Yasmeen White">Yasmeen White</option>
				<option value="Junior.Caroline Wreszin">Caroline Wreszin</option>
				<option value="Junior.Miles Yamamoto">Miles Yamamoto</option>
				<option value="Junior.Catherine Zheng">Catherine Zheng</option>
			</optgroup>
			<optgroup label="Senior">
				<option value="Senior.Shivam Agarwal">Shivam Agarwal</option>
				<option value="Senior.Mahek Ahmad">Mahek Ahmad</option>
				<option value="Senior.Sebastian Allen-Goldthwait">Sebastian Allen-Goldthwait</option>
				<option value="Senior.Isabela Apodaca">Isabela Apodaca</option>
				<option value="Senior.Brendan Ashworth">Brendan Ashworth</option>
				<option value="Senior.Jonathan Au">Jonathan Au</option>
				<option value="Senior.James Ayers">James Ayers</option>
				<option value="Senior.Kasen Barraclough">Kasen Barraclough</option>
				<option value="Senior.Dima Bazzi">Dima Bazzi</option>
				<option value="Senior.Brett Bell">Brett Bell</option>
				<option value="Senior.Gabriela Bennett">Gabriela Bennett</option>
				<option value="Senior.Madelyn Bernstein">Madelyn Bernstein</option>
				<option value="Senior.Ramzi Beshir">Ramzi Beshir</option>
				<option value="Senior.Preston Blair">Preston Blair</option>
				<option value="Senior.Max Boldes">Max Boldes</option>
				<option value="Senior.Ari Brattkus">Ari Brattkus</option>
				<option value="Senior.Harrison Burke">Harrison Burke</option>
				<option value="Senior.Mona Cesario">Mona Cesario</option>
				<option value="Senior.Jeffrey Chan">Jeffrey Chan</option>
				<option value="Senior.Suha Chang">Suha Chang</option>
				<option value="Senior.Andrew Cheng">Andrew Cheng</option>
				<option value="Senior.Sami Chmait">Sami Chmait</option>
				<option value="Senior.Lauren Cho">Lauren Cho</option>
				<option value="Senior.Colin Coane">Colin Coane</option>
				<option value="Senior.Sophia Corbisiero">Sophia Corbisiero</option>
				<option value="Senior.Christine Crowell">Christine Crowell</option>
				<option value="Senior.Natalie Dale">Natalie Dale</option>
				<option value="Senior.Nicholas Davis">Nicholas Davis</option>
				<option value="Senior.Sophia Dreyfuss">Sophia Dreyfuss</option>
				<option value="Senior.Michael Egan">Michael Egan</option>
				<option value="Senior.Ava Ferry">Ava Ferry</option>
				<option value="Senior.Jakob Fox">Jakob Fox</option>
				<option value="Senior.Garrett Gaines">Garrett Gaines</option>
				<option value="Senior.David Gharibian">David Gharibian</option>
				<option value="Senior.Sasha Gilbertson">Sasha Gilbertson</option>
				<option value="Senior.Sophie Gitlin">Sophie Gitlin</option>
				<option value="Senior.Sivert Glarum">Sivert Glarum</option>
				<option value="Senior.Nichola Glover">Nichola Glover</option>
				<option value="Senior.Julia González-Quijano">Julia González-Quijano</option>
				<option value="Senior.Jesse Graves">Jesse Graves</option>
				<option value="Senior.Brandon Gunning">Brandon Gunning</option>
				<option value="Senior.Robert Hansen">Robert Hansen</option>
				<option value="Senior.Olivia Harber">Olivia Harber</option>
				<option value="Senior.Xuanyi Huang">Xuanyi Huang</option>
				<option value="Senior.Majeed Ismail">Majeed Ismail</option>
				<option value="Senior.Crystal Juan">Crystal Juan</option>
				<option value="Senior.Wylie Kasai">Wylie Kasai</option>
				<option value="Senior.Katherine Kralik">Katherine Kralik</option>
				<option value="Senior.Jayasri Krishnakumar">Jayasri Krishnakumar</option>
				<option value="Senior.Karl-Jonas Kristensson">Karl-Jonas Kristensson</option>
				<option value="Senior.Ria Lalwani">Ria Lalwani</option>
				<option value="Senior.Andrew Lathrop">Andrew Lathrop</option>
				<option value="Senior.Jonathan Le">Jonathan Le</option>
				<option value="Senior.Mia Lee">Mia Lee</option>
				<option value="Senior.Ryan Lee">Ryan Lee</option>
				<option value="Senior.Sophia LePera">Sophia LePera</option>
				<option value="Senior.Scott Lew">Scott Lew</option>
				<option value="Senior.Tiana Lopez">Tiana Lopez</option>
				<option value="Senior.Maxine Mangubat">Maxine Mangubat</option>
				<option value="Senior.Tanya Mankerian">Tanya Mankerian</option>
				<option value="Senior.Kiefer Martin">Kiefer Martin</option>
				<option value="Senior.Roland Martin">Roland Martin</option>
				<option value="Senior.Megan Martinez">Megan Martinez</option>
				<option value="Senior.Katherine Maschka Hitchcock">Katherine Maschka Hitchcock</option>
				<option value="Senior.Natalia Matossian">Natalia Matossian</option>
				<option value="Senior.Stephanie Meyer">Stephanie Meyer</option>
				<option value="Senior.Brianna Mireku">Brianna Mireku</option>
				<option value="Senior.Jean Jean Ng">Jean Jean Ng</option>
				<option value="Senior.Bradley Noble">Bradley Noble</option>
				<option value="Senior.Conrad Oakes">Conrad Oakes</option>
				<option value="Senior.Alexia Ouzounian">Alexia Ouzounian</option>
				<option value="Senior.Thomas Palmer">Thomas Palmer</option>
				<option value="Senior.Evan Pattinelli">Evan Pattinelli</option>
				<option value="Senior.Sophia Pawlek">Sophia Pawlek</option>
				<option value="Senior.Sunay Poole">Sunay Poole</option>
				<option value="Senior.Carisha Pranyoto">Carisha Pranyoto</option>
				<option value="Senior.Israela Reynaga-Lewis">Israela Reynaga-Lewis</option>
				<option value="Senior.Catalina Ruiz">Catalina Ruiz</option>
				<option value="Senior.Mounir Saunders-Newton">Mounir Saunders-Newton</option>
				<option value="Senior.Ivan Schmidt">Ivan Schmidt</option>
				<option value="Senior.Aidan Schraeder">Aidan Schraeder</option>
				<option value="Senior.Miriam Schwartz">Miriam Schwartz</option>
				<option value="Senior.Taylor Seid">Taylor Seid</option>
				<option value="Senior.Cole Slater">Cole Slater</option>
				<option value="Senior.Alexander Smith">Alexander Smith</option>
				<option value="Senior.Jiyeon Song">Jiyeon Song</option>
				<option value="Senior.Connor Stevens">Connor Stevens</option>
				<option value="Senior.William Tayback">William Tayback</option>
				<option value="Senior.Ian Tien">Ian Tien</option>
				<option value="Senior.Katrina Torrealba">Katrina Torrealba</option>
				<option value="Senior.Timothy Treinen">Timothy Treinen</option>
				<option value="Senior.Sabrina Tsoi">Sabrina Tsoi</option>
				<option value="Senior.Catherine Turner">Catherine Turner</option>
				<option value="Senior.Lindsey Uteda">Lindsey Uteda</option>
				<option value="Senior.Benjamin Ventresca">Benjamin Ventresca</option>
				<option value="Senior.Isabella Wachtel">Isabella Wachtel</option>
				<option value="Senior.Daniel Wang">Daniel Wang</option>
				<option value="Senior.Desmond Weisenberg">Desmond Weisenberg</option>
				<option value="Senior.Alana Weiss">Alana Weiss</option>
				<option value="Senior.Jade Whaley">Jade Whaley</option>
				<option value="Senior.Olivia Wong">Olivia Wong</option>
				<option value="Senior.Kelly Yang">Kelly Yang</option>
				<option value="Senior.Kristina Yin">Kristina Yin</option>
			</optgroup>


			<!--REPLACE INFORMATION BETWEEN THESE MESSAGES-->
		</select>
		<br />
		<br />
		<button class="btn-lg btn-primary" type="submit">Submit Image</button>
	</form>
	<br />
	<footer class="footer">
		<div class="container">
			<span id="lastSubmitted" class="text-muted">@ViewData["lastSubmitted"]</span>
		</div>
	</footer>
</div>
	<div>
	<br />
	<div id="success" class="alert alert-success collapse">Upload Success</div>
</div>

<!--Scripts-->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		console.log("hi");
		$('.js-example-basic-single').select2();
	});
</script>

<script type="text/javascript">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            if (!ViewData.ModelState["Error"].Errors.First().ErrorMessage.Equals("Upload"))
            {
                <text>
                    alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
                </text>
            }
            else
            {
                <text>
                    $('#success').fadeIn(1000, function () {
                        $('#success').fadeOut(50000);
                    });
                </text>
            }
        }
</script>